<?xml version='1.0' encoding='utf-8'?>
<widget id="com.salihbaglan.fishgame" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Fish Game</name>
    <description>Gelişmiş Balık Yeme Oyunu - Salih Bağlan tarafından geliştirilmiştir</description>
    <author email="salihbaglan@example.com" href="#">
        Salih Bağlan
    </author>
    <content src="index.html" />

    <!-- Permissions -->
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

    <!-- Platform specific settings -->
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="Orientation" value="landscape" />
        <preference name="Fullscreen" value="true" />
        <preference name="KeepRunning" value="true" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="android-minSdkVersion" value="22" />
        <preference name="android-targetSdkVersion" value="35" />
    </platform>

    <!-- General preferences -->
    <preference name="DisallowOverscroll" value="true" />
    <preference name="BackgroundColor" value="0x1e3a8a" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false" />
</widget>
